<div class="container">
  <input type="text" #input>
  <button (click)="OnSubmit(input)">Submit</button><br><br>
  
  <app-hooks [value]="inputText" *ngIf="destroy" >
    <h4>{{inputText}} is projected content</h4>
  </app-hooks> 
  <!-- <app-hooks [value]="inputText"></app-hooks> -->
  <!-- <app-hooks [value]="inputText"></app-hooks> -->
  <br><br>
  <button (click)="DestroyComponent()">Destroy</button><br><br>
</div>

<div>
  <button (click)="viewChild()"> View Child</button><br><br>
  <app-example-component *ngIf="exampleapp"> <button > View Child</button><br><br></app-example-component><br><br>
  <button (click)="ViewChildren()"> View Children</button>
  <app-list *ngIf="applist"></app-list>
</div>